.buttonTextarea{
  display: flex;
  gap: 15px;
}
.button{
  border-radius: 5px;
  background-color:  rgb(133, 153, 133);
  border: 0;  
}
.button:hover{
  background-color:  rgb(93, 111, 93);

}
.textarea{
  border-radius: 5px;
}














